# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data
data/
archive/

# Research notebooks
notebooks/

# AutoGluon artifacts
models/autogluon/

# Large binary formats
*.parquet
*.npy
*.npz
*.h5

# Virtual environments
venv/
.venv/

# VSCode
.vscode/

# Keep production models only
!models/**/*.cbm
!models/**/*.csv
